
/* Add your profile image here */
.Photo{
    background-image: url('../image/rajendra-dp.jpeg');
}
/* Projects Photo */    
.project1{
    background-image: url('https://via.placeholder.com/400x600.png?text=SMI+Project');
    cursor: none;    
}
.project2{
    background-image: url('https://via.placeholder.com/400x600.png?text=AMR Spider');
    cursor: none;
}
.project3{
    background-image: url('https://via.placeholder.com/400x600.png?text=CreditWorkFlow');
    cursor: none;
}
.project4{
    background-image: url('https://via.placeholder.com/400x600.png?text=CrsAggregator');
    cursor: none;
}
/* University Activities photo */
.edu1{
    background-image: url('../image/kec.png');
    cursor: none;
}
.edu2{ 
    background-image: url('../image/miu.png');
    cursor: none;
}